main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: auto;
}

header {
  margin: 2rem 5rem;
  text-align: center;
  background-color: blue;
}

.card {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: blue;
  h2,
  h3 {
    text-align: center;
  }
}
